@media screen and (max-width:1024px) {
    .toggle-navbar-switch {
        display: block;
        margin-right: 25px;
        font-size: larger;
    }
    .navbar-links {
        display: none !important;
    }
    .example-set {
        gap: 20px;
    }
    a.common-set {
        /* width: 48%; */
        width: calc(50% - 10px);
        flex-wrap: wrap;
    }
    a.image-logo {
        display: inline-block;
        width: 100%;
    }
    img.intro-head-images {
        width: 100% !important;
        height: auto;
        min-width: 250px;
    }
    .card-title-intro {
        width: 70%;
    }
    .first-main-heading {
        font-size: 180%;
    }
    .first-main-text {
        font-size: 120% !important;
    }
    .secondary-btn {
        padding: 5px;
    }
}

@media screen and (max-width:550px) {
    div.intro-main {
        flex-direction: column-reverse;
    }
    .for-480px-block {
        display: flex;
        width: 80%;
        justify-content: center;
        text-align: center;
    }
    div.firstImag {
        max-width: 70%;
    }
    .team-intro,
    .team-intro-left {
        max-width: 89%;
    }
    /* Utlities class */
    .margin-bottom-10 {
        margin-bottom: 10px;
    }
    p {
        font-size: 1rem;
    }
    .text-4-all {
        font-size: 1.2rem;
    }
    /* Bord member image */
    img.bordMember-img-size-smallD {
        width: 29%;
        margin-right: 5%;
    }
    /* Bord member Flex direction*/
    div.working-model-4-small {
        flex-direction: column;
        margin-bottom: 30px;
    }
    div.working-model-4-small-left {
        flex-direction: column-reverse;
        margin-bottom: 30px;
    }
    /* Taking every window to 100% width */
    .bgImg {
        width: 100% !important;
    }
    /* Root class  */
     :root {
        --padding-inline-section: 10px;
    }
    /* footer section */
    .allFooterLink {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .ProductLink {
        margin-top: 10px;
        margin-bottom: 5px !important;
        margin-left: 0px !important;
    }
    .ProductLink:nth-child(4) {
        margin-left: -19% !important;
    }
    .ProductLink:nth-child(2) {
        margin-left: -15% !important;
    }
}


/* font-size: 1.0rem; */

@media screen and (max-width:420px) {
    .text-4-all {
        font-size: 1rem;
    }
    .feature-box-common {
        min-width: 100%;
    }
}


/*     min-width: 100%;
 */