* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: #cfdfdf;
}

body {
    height: 600px;
}

.container {
    height: 100%;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    text-align: center;
    display: inline-block;
    padding: 15px 15px;
    color: #fefefe;
    border-radius: 50px;
    text-align: center;
    background: linear-gradient(#20457c, #052057);
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 0px 10px 9px 0px rgba(0, 0, 0, 0.1);
    transform: scale(1.2);
}