* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Red Rose", cursive;
    scroll-behavior: smooth;
}

:root {
    --color: #ff505f;
    --text-color: #ffc233;
    --white-color: #fefefe
}

html {
    font-size: 10px;
}

body {
    width: 100%;

}

main {
    background-color: #060303;
    background-image: url("assets/background.png");
    background-image: url("https://images.pexels.com/photos/3887985/pexels-photo-3887985.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    object-fit: scale-down;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(100%);
    background-color: rgba(72, 94, 141, 0.932);
    /* Tint color */
    background-blend-mode: multiply;
    background-size: cover;
    background-position: middle center;
    z-index: -1;
    padding-top: 3%;
    border-bottom: 1px solid white;
}

.container {
    max-width: 1300px;
    margin-inline: auto;
    padding-inline: 10px;

}


/* Utilities class */

.flex-col {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.flex {
    display: flex;
    justify-content: center;
}

.color-shape {
    background-color: var(--color);
    padding: 5px;
    cursor: pointer;
    color: aliceblue;
    width: max(15%, 100px);
    border-radius: 10px;
}



/* ---------- NAVBAR ------------ */

.navbar {
    /* margin-top: 5%; */
    display: flex;
    gap: 10%;
    justify-content: center;
    display: flex;
    gap: 10%;
    justify-content: space-between;
    align-items: center;
}


.list {
    display: flex;
    list-style: none;
    gap: 30px;
    font-size: 2rem;
    color: var(--text-color);
    /* flex-direction: column; */
}



.list-item a {
    color: var(--text-color);
    cursor: pointer;
}

/* ---------- HERO ------------ */

.hero-heading {
    margin: 10% 0;
    color: rgb(229, 185, 26);
    font-size: 8rem;
    text-align: center;
}

.bottom {
    position: relative;
    left: 30%;
}

.button-large {
    padding: 10px;
    /* width: 20%;
    border-radius: 10px; */
}

/* Menu section */

.container-menu-card {
    background-color: rgb(73, 71, 64);
}

.menu-h2 {
    text-align: center;
    font-size: 5rem;
    padding: 3rem 0;
    color: #fefefe;
}

section.menu-card {
    padding-bottom: 2%;
}

/* Dish menu card */
.first-menu {
    gap: 20px;
    flex-wrap: wrap;

}

.dish-menu {
    width: 400px;
    height: 300px;
    background-color: #ff505f;
    border: 2px solid #fefefe;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    border-radius: 20px;
}

/* Util for menu card  */
.menu-card-util {
    object-fit: scale-down;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(100%);
    background-color: rgba(72, 94, 141, 0.932);
    /* background-blend-mode: multiply; */
    background-size: cover;
    background-position: left center;
}

/* Dish 1 */
.dish-1 {
    background-image: url("https://images.pexels.com/photos/1108117/pexels-photo-1108117.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");

    color: var(--white-color);
    font-size: 3rem;
}

/* ------------------------------ */

@media screen and (max-width:800px) {
    html {
        font-size: 7px;
    }
}

@media screen and (max-width:600px) {
    html {
        font-size: 5px;
    }

    .container {
        max-width: 100%;
    }
}


/* Hover properties */

/* Nav bar hover links */
.list-item a:hover {
    text-decoration: underline;
}