@import url('https://fonts.googleapis.com/css2?family=Teko:wght@600;700&display=swap');
html {
    font-size: 1.2vh;
    scroll-behavior: smooth;
}

body {
    background-color: whitesmoke;
    margin: 0px;
    background-color: #272016;
    /* background-image: linear-gradient(to top, black, gray 60%); */
}

.resume_navBar {
    text-align: center;
    padding-top: 2rem;
}

.resume_name {
    text-align: center;
    margin-top: 10rem;
    font-size: 5rem;
    color: azure;
}


/*person name  */

.NavBar_heading {
    background-color: rgb(22, 20, 20);
    /* background-image: linear-gradient( -180deg, black, gray 50%); */
    /* background: radial-gradient(780px at 37.8% 100.3%, rgb(19, 55, 115) 2.2%, rgb(32, 7, 80) 20.2%, rgb(27, 88, 111) 58.6%, rgb(115, 88, 44) 75%, rgb(99, 19, 90) 89.6%, rgb(12, 51, 76) 96.1%); */
    padding-bottom: 4rem;
    border-bottom: 2px solid rgb(255, 255, 255);
}


/* Navbar CSS part */

.unoderlist li {
    display: inline-block;
    cursor: pointer;
    margin-left: 1.9rem;
    margin-right: 1.9rem;
    text-align: center;
    color: white;
    font-size: 2rem;
    /* border: 1px solid brown; */
    padding: 1rem;
    padding-bottom: 0.5rem;
    /* border-radius: 1rem; */
    transition: color 0.5s;
    /* background-color: rgb(181, 249, 249); */
}


/* After name of resume block of social media channel link */

.social_media {
    color: azure;
    padding-bottom: 3rem;
}

.each_social_media_item {
    display: inline-block;
    margin: 0px 5rem 0px 1rem;
    cursor: pointer;
}

.social_media_list {
    text-align: center;
    list-style: none;
    /* box-sizing: border-box; */
}

.social_media_link {
    color: white;
    font-size: 2rem;
    padding: 0.5rem;
    border-radius: 40%
}


/* Header images */

.headerPhoto {
    text-align: center;
    /* border: 2px solid red; */
    border-radius: 50%;
    width: 10%;
    height: auto;
    margin-top: -7rem;
    border: 2px solid white;
}

.resume_photo {
    text-align: center;
    /* border: 2px solid white; */
    /* margin-top: rem; */
}


/* 
Border will increase it's size Hence we change it's type
*/

.unoderlist li a {
    text-decoration: none;
    color: white;
    transition: color 0.5s, border 0.5s;
}


/* while mouse hover on item  */


/* Navbar hover css */

.header-navbar-items a:hover {
    color: rgb(246, 33, 33);
    padding-bottom: 0.9rem;
    border-bottom: 1px solid white;
}


/* social media css */

.social_media_link:hover {
    color: rgb(248, 36, 36);
    box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);
    /* 
    border-radius: 40% 
    */
}


/* 
Profile intro Quote
*/

.profileSection {
    font-size: 2.3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2rem 20rem;
    border-bottom: 2px solid white
}

.profile_intro {
    width: 65%;
    font-family: 'Teko', sans-serif;
    color: rgb(223, 234, 68);
    /* padding: 10px; */
    /* margin: auto; */
}


/* 
All About Skill Heading 
*/

.section-heading {
    font-size: 50px;
    color: rgb(73, 227, 117);
    text-align: center;
}


/* 
Section css part
*/

section {
    /* height: 50vh; */
    display: flex;
    flex-direction: column;
    font-size: 5rem;
    color: wheat;
    /* justify-content: center; */
    align-items: center;
}

section:nth-child(2n) {
    background: #000;
}

section:nth-child(2n+1) {
    background: rgb(255, 242, 242);
    color: black;
}


/* 
Technical Skill section 
*/

.skills-display {
    width: 45%;
    /* border: 2px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.skills-display .ninty-percentage {
    display: inline-block;
    border: 2px solid white;
    border-radius: 3rem;
    margin: 1rem;
    /* padding: 0.8rem; */
    /* background-color: aqua; */
    font-size: 50%;
    width: 150px;
}

.shape_of_skill {
    display: inline-block;
    background-color: red;
    /* height: 50%; */
    margin: -0.5px;
    border-radius: 3rem 0rem 0rem 3rem;
    padding: 0.5rem;
    color: #000;
    text-align: center;
}


/* Expertice wise skill level */

#skill-python {
    width: 75%;
}

#skill-ml {
    width: 65%;
    background-color: rgb(68, 168, 255);
    margin: 0px;
    margin: -0.7px;
}

#skill-html {
    width: 62%;
    background-color: rgb(84, 148, 205);
    color: rgb(251, 255, 255);
}

#skill-css {
    width: 62%;
    background-color: rgb(215, 248, 55);
}

#skill-sql {
    width: 60%;
    background-color: rgb(98, 117, 7);
    color: beige;
}


/* 
Common margin 75 px
*/

.mb75px {
    margin-bottom: 75px;
}


/*

Experince Section in resume 

*/

section#experience {
    background-color: rgb(4, 27, 27);
    border-top: 2px solid white;
}

div.timeline {
    position: relative;
    width: 50%;
    display: flex;
    border: 2px solid red;
    border-radius: 5%;
    flex-direction: column;
    background-color: rgb(169, 80, 28);
    min-height: 150px;
}

h1.experienceHeading {
    color: white;
}

.shapeBox {
    /* position: relative; */
    border-radius: 10%;
    /* top: 0%; */
    /* min-width: 200px; */
}


/* 
Middle line in exp
*/

.middleLine {
    position: absolute;
    border-left: 3px dashed white;
    height: 80%;
    width: 0%;
    left: 50%;
    top: 10%;
}


/* 
Flight image 
*/

div.imagePlace {
    position: sticky;
    top: 60rem;
    width: 30px;
    height: 20px;
    transform: rotate(90deg);
    z-index: 4;
    color: #000;
}


/*  Experience box Sizing */

.shapeBox {
    box-sizing: border-box;
    width: 45%;
    font-size: 20px;
    border: 1px solid black;
    position: relative;
    left: 55.2%;
    background-color: rgb(112, 175, 231);
    margin: -0.7px 0px;
}

.shapeBox:nth-child(2n+1) {
    left: 0%;
}


/* Flight airport In experience box */

.shapeBox:nth-child(2n)::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    top: 14rem;
    left: -12.9%;
    background-color: rgb(240, 9, 9);
    z-index: 1;
}

.shapeBox:nth-child(2n+1)::before {
    content: "";
    position: absolute;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    top: 14rem;
    left: 110.6%;
    background-color: rgb(231, 17, 17);
    z-index: 1;
}


/* iPrimed experience */

span.timePeriodExp {
    position: relative;
    color: rgb(38, 36, 25);
    font-size: 15px;
    display: block;
}

span.shapeBoxHeadName {
    display: block;
    font-weight: bold;
    color: rgb(28, 33, 1);
}

span.jobDestination {
    display: block;
    font-size: 15px;
    color: black;
}

span.expDescription li {
    font-size: medium;
    color: black;
}


/* span.companyName:nth-child(2n+1):hover {
    width: 30%;
    box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);
} */


/* Common padding for all */

.p-5px {
    padding: 20px;
}

.p-50px {
    padding-bottom: 50px;
}


/* 

All about portfolio Project

*/

section#portfolio {
    background-color: rgb(241, 237, 144);
}

div.allProjectMade {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 58%;
    flex-wrap: wrap;
    flex-direction: row;
    border: 2px solid black;
    /* padding-top: 10rem; */
    border-radius: 5%;
    padding: 3%;
    margin: 0%;
    background-color: #272016;
    margin-bottom: 20rem;
    /* box-sizing: border-box; */
}

img.Project1Img {
    height: 200px;
    /* margin-left: 2rem; */
    border-radius: 10%;
    border: 2px solid black;
}

.projectPortfolio {
    margin: 2%;
    /* box-shadow: 2px; */
}

.Project1Img:hover {
    box-shadow: 0.5px -2.5px 7.5px 12.5px green;
}

span.a {
    display: inline-block;
    /* padding: -10px; */
    /* margin: 0px; */
}

.anchortagImg {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Media Query for Section wise */

@media screen and (max-width:813px) {
    .profileSection {
        margin: 0;
        padding: 10%;
    }
}

@media screen and (max-width:683px) {
    div.allProjectMade {
        width: 90%;
    }
    div.timeline {
        width: 90%;
    }
    .profileSection {
        margin: 0;
        padding: 0%;
    }
    .skills-display {
        width: 90%;
    }
}