@import url('https://fonts.googleapis.com/css2?family=Teko:wght@600;700&display=swap');
html {
    font-size: 1.2vh;
    scroll-behavior: smooth;
}

body {
    background-color: whitesmoke;
    margin: 0px;
    background-color: #272016;
    background-image: linear-gradient(to top, black, gray 60%);
}

.resume_navBar {
    text-align: center;
    padding-top: 2rem;
}

.resume_name {
    text-align: center;
    margin-top: 10rem;
    font-size: 5rem;
    color: azure;
}


/*person name  */

.NavBar_heading {
    background-color: rgb(22, 20, 20);
    background-image: linear-gradient( -180deg, black, gray 50%);
    /* background: radial-gradient(780px at 37.8% 100.3%, rgb(19, 55, 115) 2.2%, rgb(32, 7, 80) 20.2%, rgb(27, 88, 111) 58.6%, rgb(115, 88, 44) 75%, rgb(99, 19, 90) 89.6%, rgb(12, 51, 76) 96.1%); */
    padding-bottom: 4rem;
    /* border-bottom: 2px solid rgb(255, 255, 255); */
}


/* Navbar CSS part */

.unoderlist li {
    display: inline-block;
    cursor: pointer;
    margin-left: 1.9rem;
    margin-right: 1.9rem;
    text-align: center;
    color: white;
    font-size: 2rem;
    /* border: 1px solid brown; */
    padding: 1rem;
    padding-bottom: 0.5rem;
    /* border-radius: 1rem; */
    transition: color 0.5s;
    /* background-color: rgb(181, 249, 249); */
}


/* After name of resume block of social media channel link */

.social_media {
    color: azure;
    padding-bottom: 3rem;
}

.each_social_media_item {
    display: inline-block;
    margin: 0px 5rem 0px 1rem;
    cursor: pointer;
}

.social_media_list {
    text-align: center;
    list-style: none;
    /* box-sizing: border-box; */
}

.social_media_link {
    color: white;
    font-size: 2rem;
    padding: 0.5rem;
    border-radius: 40%
}


/* Header images */

.headerPhoto {
    text-align: center;
    /* border: 2px solid red; */
    border-radius: 50%;
    width: 10%;
    height: auto;
    margin-top: -7rem;
    border: 2px solid white;
}

.resume_photo {
    text-align: center;
    /* border: 2px solid white; */
    /* margin-top: rem; */
}


/* 
Border will increase it's size Hence we change it's type
*/

.unoderlist li a {
    text-decoration: none;
    color: white;
    transition: color 0.5s, border 0.5s;
}


/* while mouse hover on item  */


/* Navbar hover css */

.header-navbar-items a:hover {
    color: rgb(246, 33, 33);
    padding-bottom: 0.9rem;
    border-bottom: 1px solid white;
}


/* social media css */

.social_media_link:hover {
    color: rgb(248, 36, 36);
    box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);
    /* 
    border-radius: 40% 
    */
}


/* 
Profile intro Quote
*/

.profileSection {
    font-size: 2.3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2rem 25rem;
    border-bottom: 2px solid white
}

.profile_intro {
    width: 63rem;
    font-family: 'Teko', sans-serif;
    color: rgb(249, 246, 242);
    /* padding: 10px; */
    /* margin: auto; */
}


/* 
All About Skill Heading 
*/

.section-heading {
    font-size: 50px;
    color: aliceblue;
    text-align: center;
}


/* 
Section css part
*/

section {
    /* height: 50vh; */
    display: flex;
    flex-direction: column;
    font-size: 5rem;
    color: wheat;
    /* justify-content: center; */
    align-items: center;
}

section:nth-child(2n) {
    background: #000;
}

section:nth-child(2n+1) {
    background: rgb(255, 242, 242);
}


/* 
Technical Skill section 
*/

.skills-display {
    width: 45%;
    /* border: 2px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.skills-display span {
    display: inline-block;
    margin: 1rem;
    border: 2px solid white;
    padding: 0.5rem;
    border-radius: 2rem;
    width: 100px;
    font-size: 50%;
}


/* 
Common margin 75 px
*/

.mb75px {
    margin-bottom: 75px;
}