html {
    font-size: 0.7vw;
}

body {
    background-color: whitesmoke;
    margin: 0px;
}

.resume_navBar {
    text-align: center;
    padding-top: 2rem;
}

.resume_name {
    text-align: center;
    margin-top: 10rem;
    font-size: 5rem;
    color: azure;
}


/*person name  */

.NavBar_heading {
    background-color: black;
    background: radial-gradient(780px at 37.8% 100.3%, rgb(19, 55, 115) 2.2%, rgb(32, 7, 80) 20.2%, rgb(27, 88, 111) 58.6%, rgb(115, 88, 44) 75%, rgb(99, 19, 90) 89.6%, rgb(12, 51, 76) 96.1%);
    padding-bottom: 4rem;
}


/* Navbar CSS part */

.unoderlist li {
    display: inline-block;
    cursor: pointer;
    margin-left: 2rem;
    margin-right: 2rem;
    text-align: center;
    color: white;
    font-size: 2rem;
    /* border: 1px solid brown; */
    padding: 1rem;
    padding-bottom: 0.5rem;
    border-radius: 1rem;
    transition: color 0.5s, border 1s;
    /* background-color: rgb(181, 249, 249); */
}


/* After name of resume block of social media channel link */

.social_media {
    color: azure;
}

.each_social_media_item {
    display: inline-block;
    margin: 0px 5rem 0px 1rem;
    cursor: pointer;
}

.social_media_list {
    text-align: center;
    list-style: none;
    /* box-sizing: border-box; */
}

.social_media_link {
    color: white;
    font-size: 2rem;
    padding: 0.5rem;
    /* transition: color 0.5s, border 0.5s; */
    border-radius: 40%
    /* border: 2px; */
}


/* while mouse hover on item  */


/* Navbar hover css */

.header-navbar-items:hover {
    color: rgb(246, 33, 33);
    border-bottom: 1px solid white;
}


/* social media css */

.social_media_link:hover {
    color: rgb(248, 36, 36);
    box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);
    /* border-radius: 40% */
}