* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    border: 1px solid black;
    display: flex;
    justify-content: center;
}

.calculator {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(4, auto);
    margin-top: 10%;
    justify-content: center;
}

.flex {
    display: flex;
    justify-content: center;
}

.button-option {
    border: 1px solid black;
    padding: 30px;
}

#number-1 {
    background-color: black;
    color: white;
    grid-column: 1 / -1;
    display: flex;
    justify-content: end;
}

.bg-color-pitch {
    background-color: #db930b;
}

#number-2 {
    grid-column: 1 / span 2;
}

#number-17 {
    grid-column: 1 / span 3;
}