.container {
    margin: 0% 10%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
}

.box {
    border: 1px solid black;
    padding: 10px;
}

#boxes-num-1 {
    grid-column: 2 span;
}

#boxes-num-2 {
    grid-row: 2 span;
}

#boxes-num-13 {
    grid-column: 3/ 2 span;
    grid-row: 1;
}

#boxes-num-14 {
    grid-column: 1 / -1;
}

#boxes-num-15 {
    grid-column: 1 / -1;
}