@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* font-family: 'Poppins', sans-serif; */


/* default parameter change */

* {
    margin: 0;
    font-size: 10px;
    font-family: 'Climate Crisis', cursive;
}

html {
    background-color: #242B2E;
}


/* Box parameter */

.color-picker {
    margin-top: 2%;
    margin-inline: auto;
    display: flex;
    justify-content: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-self: center;
    justify-content: center;
    row-gap: 20%;
    width: 70%;
}

.containt-box {
    width: 80%;
    height: 30rem;
    background-color: #3DBE29;
    border: 2px solid;
    border-radius: 20px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}


/* Inside the box */

.box-1 {
    display: flex;
    row-gap: 20px;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}


/* Default parameter */

h3 {
    font-size: 1.8rem;
    color: aliceblue;
}


/* Hover properties */

.containt-box:hover {
    transform: scale(1.1);
}