* {
    margin: 0;
    padding: 0;
}

.root {
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --accent-color: #1d69a3;
    --padding-inline-section: 20px;
}


/* Left section */

.left-section {
    width: 30%;
}


/* Right section */

.right-section {
    width: 70%;
}


/* resume image and name */

.image-profile {
    position: relative;
}

.image-profile img {
    min-width: 200px;
    width: 100%;
}


/* Resume name */

h2.resume-name {
    position: absolute;
    bottom: 5px;
    left: 35%;
    overflow: hidden;
    font-size: 100%;
}


/* Utilites class */

.container {
    /* max-width: 1196px; */
    margin-inline: auto;
    /* padding-inline: 20px; */
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex {
    display: flex;
}

.padding-l-20 {
    padding-left: 20px;
}


/* Contact section */

.addressFinal {
    margin: 20px 0px;
    padding-inline: 10px;
    /* overflow: hidden; */
}

li.address {
    position: relative;
    margin: 5px 0px;
    list-style: none;
}

i {
    color: teal;
}

.address h4 {
    position: absolute;
    left: 40px;
    top: -3px;
}


/* Skill section */

.skill-division {
    margin: 0 0px 20px 10px;
}

.progres-90-per {
    width: 90%;
    background: teal;
    border-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    text-align: center;
    color: white;
}

div.progress-bar {
    width: 50%;
    background: rgb(143, 123, 123);
    border-radius: 30px;
}

.skill-box-shape p {
    margin: 10px 0;
}

.skill-box-shape {
    margin-left: 10px;
}